// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$body-font-family: 'Work Sans', sans-serif;

$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px - 16px,
  'xl': 1200px - 16px
);

$border-radius-root: 8px;

$btn-text-transform:	none !default;

$text-field-filled-full-width-outlined-slot-min-height: 48px !default;

$carousel-dot-margin:	0px 4px !default;

// global utility classes
html {
  scroll-behavior: smooth;
}

.v-application .primary {
  background-image: linear-gradient(
    to right,
    rgba(255, 71, 211, 0.9),
    rgba(233, 22, 118, 0.9)
  ) !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.position-start {
  top: 0;
  left: 0;
}

.fill-width {
  width: 100%;
}

.transition {
  transition: all 0.35s ease;
}

.text-decoration-none {
  text-decoration: none;
}
